{
    "presets": [
        ["@babel/preset-env", {
            "targets": { "node": "current" }
        }],
        ["@babel/preset-react", {
            "runtime": "automatic"
        }],
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "@": "./src",
                "react/jsx-runtime": "./node_modules/jsx-dom-cjs/jsx-runtime.js"
            }
        }]
    ]
}
