:root {
    // Panel Colors
    --mt-panel-bg: var(--tw-color-gray-100);
    --mt-panel-border: var(--tw-color-gray-200);
    --mt-panel-toolbar-border: var(--tw-color-gray-300);

    // Panel Properties
    --mt-panel-shadow: 0 -5px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    background-color: var(--mt-panel-bg);
    border: 1px solid var(--mt-panel-border);
    overflow: hidden;
    box-shadow: var(--mt-panel-shadow);

    &-toolbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--mt-panel-toolbar-border);

        &-right-split {
            display: flex;
            align-items: center;
            gap: 13px;
            span {
                color: var(--mt-foreground-secondary);
                font-size: 10pt;
                font-family: FiraCode;
            }
        }
    }

    &-switcher-container {
        overflow-y: auto;
    }
}
