@font-face {
    font-family: NotoSans;
    src: url("@/assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: NotoSans-Medium;
    src: url("@/assets/fonts/NotoSans-Medium.ttf");
}

@font-face {
    font-family: NotoSans-SC;
    src: url("@/assets/fonts/NotoSansSC-Regular.otf");
}

@font-face {
    font-family: NotoSans-SC-Light;
    src: url("@/assets/fonts/NotoSansSC-Light.otf");
}

@font-face {
    font-family: NotoSans-SC-Medium;
    src: url("@/assets/fonts/NotoSansSC-Medium.otf");
}

@font-face {
    font-family: FiraCode;
    src: url("@/assets/fonts/FiraCode-Regular.ttf");
}

* {
    font-family: -apple-system, BlinkMacSystemFont, NotoSans, NotoSans-SC, NotoSans-SC-Medium, NotoSans-SC-Light, "微软雅黑", "Segoe UI", Arial;
}
