@import "./fonts.less";
@import "./vars.less";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    main#root {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;

        canvas.motive-canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .panel {
            position: absolute;
            bottom: 20px;
        }
    }

    // .provider-holder {

    //     .provider {
            
    //     }
    // }
}

* {
    & p,
    & a,
    & span,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        user-select: none;
    }
}
