@import "./vars.less";

@font-face {
    font-family: NotoSans-SC;
    src: url("./fonts/NotoSansSC-Regular.otf");
}

@font-face {
    font-family: NotoSans-SC-Light;
    src: url("./fonts/NotoSansSC-Light.otf");
}

@font-face {
    font-family: NotoSans-SC-Medium;
    src: url("./fonts/NotoSansSC-Medium.otf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    main#root {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;

        canvas.motive-canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .panel {
            position: absolute;
            bottom: 20px;
        }
    }
}

* {
    font-family: NotoSans-SC, NotoSans-SC-Light, NotoSans-SC-Medium, "微软雅黑", "Segoe UI", Arial;
}
