:root {
    // Form Colors
    --mt-form-control-bg: var(--tw-color-gray-100);
    --mt-form-control-disabled-bg: var(--tw-color-gray-200);
    --mt-form-control-border: var(--tw-color-gray-300);
    --mt-form-control-active-border: var(--tw-color-blue-600);

    // Form Properties
    --mt-form-control-border-radius: 4px;
}

form.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .form-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &-main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .form-item-label {
                display: flex;
                align-items: center;
                gap: 7px;
                .icon-wrapper {
                    &, svg {
                        width: 19px;
                        height: 19px;
                    }
                }
            }
        }
        &-description {
            text-align: right;
            font-size: 9pt;
            color: var(--tw-color-gray-500);
        }
    }
}

.form-control() {
    background-color: var(--mt-form-control-bg);
    border: 1px solid var(--mt-form-control-border);
    border-radius: var(--mt-form-control-border-radius);
    outline: none;
    padding: 6px 8px;
    font-family: var(--mt-fonts);
    font-size: 10pt;
    box-sizing: border-box;

    &:focus {
        border-color: var(--mt-form-control-active-border);
    }

    &-disabled {
        background-color: var(--mt-form-control-disabled-bg);
    }
}
